.Game {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.Col {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#TitleRow {
    height: 10%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#TopRow,
#MidRow,
#BotRow {
    height: 30%;
}

.Col.LeftCol {
    width: 25%;
}

.Col.MidCol {
    width: 50%;
}

.Col.RightCol {
    width: 25%;
}

/*
 * Scoreboard
 */

#tlCell {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.Scoreboard {
    width: 5vh;
    min-width: 5em;
    height: auto;
    background-color: white;
    border: 3px solid black;
    border-radius: 20%;
    margin-top: 1vh;
    margin-left: 5vh;
    padding: 1vh;
}

.ScoreboardRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#scoreboardTitle {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 5px;
}

#usScore,
#themScore {
    font-size: 20px;
    font-weight: 500;
    color: black;
    margin-bottom: 5px;
    margin-top: 5px;
}

/*
 * Hand
 */

.DeckHold {
    display: flex;
    align-items: flex-end;
    /* position: relative; */
}

.MyCard {
    margin: -2vh;
    margin-bottom: 5px;
    background-color: wheat;
    width: 10vh;
    height: 15vh;
    border: 3px solid black;
    border-radius: 10px;

    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    transition: transform ease 0.5s;
    z-index: 1;
}

.MyCard:hover {
    cursor: pointer;
    transform: translateY(-3vh);
    background-color: #d4cc7e;
}

.OpponentCard{
    margin: -3vh;
    background-color: wheat;
    width: 9vh;
    height: 12vh;
    border: 3px solid black;
    border-radius: 10px;

    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
}

.DeckHold.North{
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    margin-top: 2vh;
    margin-bottom: auto; 
}

.DeckHold.West{
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-left: auto;
    margin-right: 10vh;
}

.DeckHold.East{
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin-right: auto;
    margin-left: 10vh;
}

.DeckHold.South{
    margin-top: auto;
    margin-bottom: 2vh;
}

/* .DeckHold .OpponentCard:nth-child(1) {
    transform: rotate(-30deg);
    margin-left: -20vh;
    margin-bottom: -6.3vh;
}

.DeckHold .OpponentCard:nth-child(2) {
    transform: rotate(-22.5deg);
    margin-left: -15vh;
    margin-bottom: -3.6vh;
}

.DeckHold .OpponentCard:nth-child(3) {
    transform: rotate(-15deg);
    margin-left: -10vh;
    margin-bottom: -2vh;
}
.DeckHold .OpponentCard:nth-child(4) {
    transform: rotate(-7.5deg);
    margin-left: -5vh;
    margin-bottom: -1vh;
}

.DeckHold .OpponentCard:nth-child(5) {
    transform: rotate(0deg);
    margin-left: 0vh;
    margin-bottom: -0.5vh;
}

.DeckHold .OpponentCard:nth-child(6) {
    transform: rotate(7.5deg);
    margin-left: 5vh;
    margin-bottom: -1vh;
}

.DeckHold .OpponentCard:nth-child(7) {
    transform: rotate(15deg);
    margin-left: 10vh;
    margin-bottom: -2.3vh;
}

.DeckHold .OpponentCard:nth-child(8) {
    transform: rotate(22.5deg);
    margin-left: 15vh;
    margin-bottom: -4.5vh;
} */