.Game {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.Col {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#TitleRow {
    height: 10%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#TopRow,
#MidRow,
#BotRow {
    height: 30%;
}

.Col.LeftCol {
    width: 25%;
}

.Col.MidCol {
    width: 50%;
}

.Col.RightCol {
    width: 25%;
}

/*
 * Scoreboard
 */

#tlCell {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.Scoreboard {
    width: 5vh;
    min-width: 5em;
    height: auto;
    background-color: white;
    border: 3px solid black;
    border-radius: 20px;
    margin-top: 1vh;
    margin-left: 5vh;
    padding: 1vh;
}

.ScoreboardRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#scoreboardTitle {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 5px;
}

#usScore,
#themScore {
    font-size: 20px;
    font-weight: 500;
    color: black;
    margin-bottom: 5px;
    margin-top: 5px;
}

/*
 * Hand
 */

.DeckHold {
    display: flex;
    align-items: flex-end;
    /* position: relative; */
}

.MyCard {
    margin: -2vh;
    margin-bottom: 5px;
    background-color: wheat;
    width: 10vh;
    height: 15vh;
    border: 3px solid black;
    border-radius: 10px;

    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    transition: transform ease 0.5s;
    z-index: 1;
}

.MyCard:hover {
    cursor: pointer;
    transform: translateY(-3vh);
    background-color: #d4cc7e;
}

.MyCard img {
    width: 100%;
    height: 100%;
}

.OpponentCard {
    margin: -3vh;
    background-color: wheat;
    width: 9vh;
    height: 12vh;
    border: 3px solid black;
    border-radius: 10px;

    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
}

.DeckHold.North {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    margin-top: 2vh;
    margin-bottom: auto;
}

.DeckHold.West {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: auto;
    margin-right: 10vh;
}

.DeckHold.East {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-right: auto;
    margin-left: 10vh;
}

.DeckHold.South {
    margin-top: auto;
    margin-bottom: 2vh;
}

/*
 * NameField
 */

.NameBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
    color: black;
    /* background-color: wheat; */
}

.NameField {
    background-color: white;
    min-width: 8vh;
    padding: 2%;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#topLeftName {
    align-self: flex-start;
    margin-top: 3vh;
    margin-left: -30vh;
}

#topRightName {
    align-self: flex-end;
    margin-right: 23vh;
    margin-bottom: 5vh;
}

#bottomLeftName {
    align-self: flex-start;
    margin-top: 5vh;
    margin-left: 23vh;
}

#bottomRightName {
    align-self: flex-end;
    margin-bottom: 8vh;
    margin-left: 30vh;
}